footer, #contact-the-dev, #portfolio, {
	font-family: 'Lemonada', cursive;
}

body, #take-me-there{
	font-family: 'Roboto', sans-serif;
}

#links {
	font-size: 20px
}

#portfolio {
	height: 3rem;
	font-size: 1.5rem;
}

#gitlab {
	color: #ff751a
}

#linkedin {
	color: #66b3ff
}

#facebook {
	color: 0033cc
}


#portfolio {
	height: 3rem;
	font-size: 1.5rem;
  	background-color: red;
  	animation-name: example;
  	animation-duration: 4s;
}

@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}